// plum.scss
// Custom light plum skin

$background-color: #f5eff7;
$background-color-dark: #e0d3eb;
$text-color: #2c2c2c;
$muted-text-color: #6c5b7b;
$primary-color: #9366b4; // plum
$border-color: #d3c2e0;
$footer-background-color: #ebdef8;
$link-color: #7e4eb2;
$link-color-hover: darken($link-color, 10%);
$code-background-color: #f0e9f9;
